@inherits LayoutComponentBase
<div class="page"> 
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main-wrapper">
        <div class="top-row px-4">
            <a target="_blank">Admin</a>
            <a target="_blank">Notifications</a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>

            <div class="footer">
                <Footer />
            </div>

        </main>
    </div>

</div>

