@namespace logistics_frontend.Pages.Shared.Dashboard

<div class="card text-white bg-@Color shadow-sm">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text h4">@Value</p>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public string Color { get; set; } = "primary";
}
