@page "/merchant/products"
@layout MerchantLayout
@using System.Text.Json
@using System.Web
@using frontend.Models
@inject ProductService ProductService
@inject NavigationManager Navigation

@if (isLoading)
{
  <p>Loading products...</p>
}
else
{
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    @if (ShowSelectProductOverlay)
    {
      <SelectProductOverlay OnDismiss="HideOverlay" />
    }

    @foreach (var product in products)
    {
      <MerchantProductCard Product="@product" />
    }
  </div>
}

@code {
  [CascadingParameter] public ActiveStoreContext StoreCtx { get; set; } = default!;
  [CascadingParameter] public ActiveProductContext ProductCtx { get; set; } = default!;
  private List<ProductListItem> products = new();
  bool ShowSelectProductOverlay;
  bool isLoading;
  Guid? lastLoadedStoreId;

  protected override async Task OnParametersSetAsync()
  {
    if (StoreCtx == null || StoreCtx.StoreId == Guid.Empty)
      return;

    // Prevent reloading endlessly
    if (lastLoadedStoreId == StoreCtx.StoreId)
      return;

    lastLoadedStoreId = StoreCtx.StoreId;

    var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
    var query = HttpUtility.ParseQueryString(uri.Query);

    var intent = query.Get("intent");
    ShowSelectProductOverlay =
    intent == "manage" && !(ProductCtx?.HasValue ?? false);

    isLoading = true;

    var result = await ProductService.ListAllStoreProducts(StoreCtx.StoreId);

    products = result.Success && result.Data != null
    ? result.Data
    : new();
    @* Console.WriteLine(JsonSerializer.Serialize(products, new JsonSerializerOptions
      {
        WriteIndented = true
      })); *@
    isLoading = false;
  }

  void HideOverlay()
  {
    ShowSelectProductOverlay = false;
  }
}

@* Store order of precedence *@
@* 1. Explicit switch by user (always wins)
2. Pinned/default store (user preference)
3. Last used store (localStorage)
4. Fallback → first store *@


@* logic *@
@* var pinnedStoreId = await LocalStorage.GetItem<Guid?>("pinned_store");

ActiveStore = stores.FirstOrDefault(s => s.Id == pinnedStoreId)
           ?? stores.OrderByDescending(s => s.Revenue).First(); *@
