@page "/driver/route"
@layout MainLayout
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation 
@attribute [Authorize(Roles = "driver")]


<h3>Today's Route</h3>
<p>Route map or step-by-step instructions go here. (Integrate map API later)</p>


@code {
}